body {
    background-color: silver;
  }
  
  h1 {
    color: blue;
    text-align: center;
   font-size: 50px;
   
  }
  a1{color : blue}a2{color: red}a3{color : yellow}a4{color :green}
  a5{color : orange}a6{color : pink}a7{color : brown}
  h3 {
      color: red ;
      text-align: center;
      background-color: skyblue;
      font-style: bold;
      font-size: 20px;
      font-family: serif;
  }


  n{
color: black;
font-family: Georgia;
text-align: center;

  }




  p {
    font-family: verdana;
    font-size: 20px;
    color :red;
    text-align: center;
  }